/build/
/cmake-build*/
/out/
.cache/
compile_commands.json
CMakeUserPresets.json

godot/.godot/
godot/bin/*.so
godot/bin/*.dll
godot/bin/*.dylib
godot/bin/*.pdb
godot/bin/*.exp
godot/bin/*.lib
godot/bin/*.framework/

godot/addons/terrain_3d/

third_party/godot-cpp/

.idea/
.vs/
*.user
*.swp
*~
.DS_Store
